.git
.github
__pycache__
*.pyc
.mypy_cache
.pytest_cache
.venv
env/
venv/
.env
.env.*
# config/settings.json
config/state.json
# memory-bank/
docs/README-old.md
switchbot_dashboard/__pycache__/
switchbot_dashboard/static/css/*.map
node_modules
dist
